{% extends "base.html" %}
{% load static %}

{% block base_head %}
<!-- 위 load static 한 경로 기준 또는 extends한 base.html에 있는 load static 기준으로 css/main.css를 참조하라는 뜻이다.-->
<link rel="stylesheet" href='{% static "css/main.css" %}'/>
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>{{ title }}</h1>
        <h5>cart_id: {{ request.session.cart_id }}, user: {{ request.user }}</h5>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'img/beach.jpg' %}" class="img-fluid" />
            <p>{{ content }}</p>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col">
            <h1>Premium</h1>
            {{ premium_content }}
        </div>
    </div>
    {% endif %}
{% endblock %}
