asgiref==3.3.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
dj-database-url==0.5.0
Django==1.11.4
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.1.0
iniconfig==1.1.1
model-bakery==1.2.1
model-mommy==2.0.0
packaging==20.7
Pillow==8.0.1
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-django==4.1.0
pytz==2020.4
requests==2.25.1
sqlparse==0.4.1
stripe==1.67.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
zipp==3.4.0
